/* Start Of the Styling */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Concert One", cursive;
  font-size: 16px;
}

/* Start Of the main-container */
.main-container{
  box-shadow: black 5px soli;
  width: 980px;
  position: absolute;
  right: 0;
  left: 0;
  background: whitesmoke;
  margin: 0px auto;
  margin-top: 25px;
  margin-bottom: 100px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}
/* End Of the main-container */

/* Start Of the title area */
.title-area{
  height: 150px;
  background-color: #abcdff;
  border-bottom: 7px solid black;
  border-radius: 5px;
}

.title-area .title-text{
  margin-left: 31%;
  font-weight: bolder;
}

.title-area .para{
  margin-left: 35.3%;
}

 #date{
  margin-left: 44%;
}

 .row{
  margin-top: -15px;
}

/* End Of the title area */

/* Start Of the input fields */
 .input-field{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    font-size: 1.3em;
    background-color: #77b5fe;
    color: hsl(0deg, 100%, 100%);
    border-radius: 5px;
}
/* End Of the Input Fileds */

/* Styling the hourly time */
 .border-left-0{
    border-radius: 5px;
    color: #66b4ff;
}

.fa-save{
  color:rgb(179, 172, 180);
  margin-left: -27px;
  margin-top: 4px;
}

.fa-save:hover{
  color: #2d8dfd;
  transition: transform .4s ease;
  transform: scale(1.1);
  cursor: pointer;
  
}

.time{
  margin-left: 90px;
  margin-top: 8px;
  
}

input {
  height: 41px;
  width: 100%;
  padding: 0px;
  margin-top: -10px;
  font-size: 1.5em;
}

.fa-refresh{
  margin-left: 370px;
  margin-top: -50px;
  color: whitesmoke;
}
.fa-refresh:hover{
  color: #2d8dfd;
  transition: transform .5s ease;
  transform: scale(1.2);
  cursor: pointer;
}
.daily-event {
  width: 800px;
  margin: 0 auto;
  margin-top: 30px;
}


